<!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li><a href="/dashboard">Dashboard</a></li>
                                <li><a href="/patients">Patients</a></li>
                                <li><a href="#">Reports</a></li>
                                <li><a href="/doctors">Doctors</a></li>
                                <li><a data-toggle="collapse" data-target="#demodepart" href="#">Settings</a>
                                    <ul id="demodepart" class="collapse dropdown-header-top">
                                        <li><a href="/diseases">Diseases</a></li>
                                        {{!-- <li><a href="/users">Users</a></li> --}}
                                    </ul>
                                </li>
                                <li><a href="/">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li class="active"><a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a>
                        </li>
                        <li><a href="/patients"><i class="fa fa-wheelchair"></i> Patients</a>
                        </li>
                        <li><a href=""><i class="fa fa-bar-chart"></i> Reports</a>
                        </li>
                        <li><a href="/doctors"><i class="fa fa-user-md"></i> Doctors</a>
                        </li>
                        <li><a data-toggle="tab" href="#settings"><i class="fa fa-cog"></i> Settings</a>
                        </li>
                        <li><a href="/"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div id="settings" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="/diseases">Diseases</a>
                                </li>
                                {{!-- <li><a href="/users">Users</a> --}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>