 <div class="notika-status-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">543</span></h2>
                            <p>Total Patients</p>
                        </div>
                        <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">13</span></h2>
                            <p>Today's Patients</p>
                        </div>
                        <div class="sparkline-bar-stats2">1,4,8,3,5,6,4,8,3,3,9,5</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">40</span></h2>
                            <p>Total Doctors</p>
                        </div>
                        <div class="sparkline-bar-stats3">4,2,8,2,5,6,3,8,3,5,9,5</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">12</span></h2>
                            <p>Total Diseases</p>
                        </div>
                        <div class="sparkline-bar-stats4">2,4,8,4,5,7,4,7,3,5,7,5</div>
                    </div>
                </div>
            </div>
        </div>
</div>
<br>
<div class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                    <div class="rc-it-ltd">
                        <div class="recent-items-ctn">
                            <div class="recent-items-title">
                                <h2>Today's Patients</h2>
                            </div>
                        </div>
                        <div class="recent-items-inn">
                            <table class="table table-inner table-vmiddle">
                                <thead>
                                    <tr>
                                        <th style="width: 85px;">ID</th>
                                        <th>Name</th>
                                        <th style="width: 250px;">Mobile</th>
                                        <th style="width: 150px">Doctor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="f-500 c-cyan">4555</td>
                                        <td>Patient 1</td>
                                        <td>1234567890</td>
                                        <td class="f-500 c-cyan">Doctor 1</td>
                                    </tr>
                                    <tr>
                                        <td class="f-500 c-cyan">4556</td>
                                        <td>Patient 2</td>
                                        <td>1234567890</td>
                                        <td class="f-500 c-cyan">Doctor 2</td>
                                    </tr>
                                    <tr>
                                        <td class="f-500 c-cyan">8778</td>
                                        <td>Patient 3</td>
                                        <td>1234567890</td>
                                        <td class="f-500 c-cyan">Doctor 3</td>
                                    </tr>
                                    <tr>
                                        <td class="f-500 c-cyan">5667</td>
                                        <td>Patient 4</td>
                                        <td>1234567890</td>
                                        <td class="f-500 c-cyan">Doctor 4</td>
                                    </tr>
                                    <tr>
                                        <td class="f-500 c-cyan">7886</td>
                                        <td>Patient 5</td>
                                        <td>1234567890</td>
                                        <td class="f-500 c-cyan">Doctor 5</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>